<a href="https://colab.research.google.com/github/Farhana111/DATA-ANALYSIS-WITH-PYTHON/blob/main/class_04_fad_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lecture:04: Python Data Structure

List Manipulation
  .Change list elements
  .Add list elemements
  .Remove list elements

In [21]:
family = ("abbu", 5.6, "ammu", 5.2, "vaia", 6, "apu", 5.2, "ami", 5, "wife",5.1)
family = ["abbu", 5.6, "ammu", 5.2, "vaia", 6, "apu", 5.2, "ami", 5, "wife",5.1]
print(type(family))

<class 'list'>

List Slicing

In [22]:
family[4:6]
family[-2:]
print(family[:5])
print(len(family))

['abbu', 5.6, 'ammu', 5.2, 'vaia']
12

checking length of list

checking presence of an element in a list

In [23]:
print("abbu" in family)
print("chotovai" in family)
family.append("chotovai")
family.append(5.9)
family.reverse()
print(family)

True
False
[5.9, 'chotovai', 5.1, 'wife', 5, 'ami', 5.2, 'apu', 6, 'vaia', 5.2, 'ammu', 5.6, 'abbu']

How to revese a list?

In [ ]:
family.reverse()
print(family)

new_members = ["baccha_1",2,"kacha_1",1]

print(family+new_members)

['abbu', 5.6, 'ammu', 5.2, 'vaia', 6, 'apu', 5.2, 'ami', 5, 'wife', 5.1, 'chotovai', 5.9]
['abbu', 5.6, 'ammu', 5.2, 'vaia', 6, 'apu', 5.2, 'ami', 5, 'wife', 5.1, 'chotovai', 5.9, 'baccha_1', 2, 'kacha_1', 1]

How to find the minimum value, maximum value and total sum of a list?

In [51]:
even = [2,4,6,0,-2,10]
type(even)
sum(even)
max(even)
min(even)

-2

What will happen if you add two lists?

In [29]:
list_A = [1,2,3]
list_B = [4,5,6]

print(list_A+list_B)

[1, 2, 3, 4, 5, 6]

How to sort a list?

In [25]:
even = [2,4,6,0,-2,10]
print(sorted(even,reverse=True))
print(sorted(even,reverse=False))

[10, 6, 4, 2, 0, -2]
[-2, 0, 2, 4, 6, 10]