<a href="https://colab.research.google.com/github/Farhana111/DATA-ANALYSIS-WITH-PYTHON/blob/main/lecture_04_fad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How to find the index of a specific character in a string?

In [ ]:
text = "Happy New Year"
print(text.find("y"))
print(text.index("a"))

4
1

How to convert a string into lower case and upper case characters?

In [2]:
name = "ShakibAlHasan"
print(name.lower())
print(name.upper())

shakibalhasan
SHAKIBALHASAN

NLP: Natural Language Processing

I eat rice.
Eating rice regularly is not a good habit.

eat, ate, eaten => eat

In [9]:
print("electrical engineering" == "Electrical Engineering".lower())
print("electrical engineering ".rstrip()=="Electrical Engineering".lower())
print("  electrical engineering".lstrip()=="Electrical Engineering".lower())

True
True
True

How to remove spaces from a string?

In [ ]:
print("electrical engineering ".rstrip()=="Electrical Engineering".lower())
print("  electrical engineering".lstrip()=="Electrical Engineering".lower())

How to replace a substring inside a string?

In [10]:
text = " Haqqy New Year"
print (text.replace("q","p"))

 Happy New Year

In [11]:
text = " HaPPy New Year"
print (text.replace("P","p"))

 Happy New Year

In [13]:
text = "electrical engineering"
print(text.capitalize())
print(text.replace("engineering", "Engineering"))

Electrical engineering
electrical Engineering

How to find the presence of an alphanumeric character, alphabet or digit?

In [22]:
name = "ShakibAlHassan100"
name1 = "shakibalhassan100"
print(name.isalnum())
print(name.isalpha())
print(name.isupper())
print(name1.islower())

True
False
False
True

In [16]:
name = "ShakibAlHassan100?"
print(name.isalnum())
print(name.isdigit())

False
False

In [18]:
name = "109100"
print(name.isalnum())
print(name.isdigit())

True
True